<div id="sidebar" class="d-flex flex-column flex-shrink-0 bg-light p-2">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a routerLink="./profiling" routerLinkActive="active" class="nav-link link-dark border mb-2 p-2"><i
          class="far fa-address-card me-1"></i>
        Profiling
      </a>
    </li>
    <li>
      <a routerLink="./review-profile" routerLinkActive="active"
        class="nav-link link-dark border-bottom border mb-2 p-2"><i class="fas fa-id-card-alt me-1"></i>
        Review
        Profile
      </a>
    </li>
    <li>
      <a routerLink="./queries" routerLinkActive="active" class="nav-link link-dark border-bottom border mb-2 p-2"><i
          class="fas fa-money-check me-1"></i>
        Queries
      </a>
    </li>
    <li>
      <a routerLink="./query-output" routerLinkActive="active"
        class="nav-link link-dark border-bottom border mb-2 p-2"><i class="far fa-address-card me-1"></i>
        Query Results
      </a>
    </li>
  </ul>
</div>
