#sidebar {
  width: 3.4rem;
  min-height: calc(100vh - 56px);
  background: #8E7BCE;
}

a {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(255, 255, 255);
}

a.active-link {
  color: white
}

.fi,
.fas {
  font-size: 1.3rem;
}
