body {
  background: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 56px);
}

.offcanvas {
  margin-top: 56px;
  min-height: calc(100vh - 56px);
  width: 20rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background: #C8BFE7;
}
