// nav {
//   z-index: 9999999;
//   font-family: "Exo 2", sans-serif;
// }

// .toggle-button {
//   background: rgb(230, 13, 230);
// }


nav {
  z-index: 9999999;
  font-family: "Exo 2", sans-serif;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

nav .navbar-brand {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
