body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background: #21667c;
}

.content {
  min-height: calc(100vh - 56px);
  background: #21667c;
}

.wrapper {
  display: flex;
}

.accordion-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

input#iField {
  font-size: smaller;
  font-style: italic;
}

.form-select {
  min-width: 10rem;
}

.required {
  color: red;
}

.dropdown#floating-button {
  z-index: 99999;
  position: fixed;
  top: calc(56px + 1rem);
  right: 1rem;
}

.offcanvas {
  z-index: 999999;
  margin-top: 56px;
  background-color: whitesmoke;
}

button {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-title {
  font-size: 1.2rem;
}

.card-subtitle {
  font-size: 1rem;
}

.modal#exampleModalToggle2 {
  max-height: 95%;
  margin-top: 40px;
}

.p-scrollpanel {

  &.custombar2 {
    overflow-y: hidden !important;

    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1);
      border-bottom: 9px solid var(--layer-1);
    }
  }
}