body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background: #21667c;
}

.content {
  min-height: calc(100vh - 56px);
  background: #21667c;
}

.wrapper {
  display: flex;
}

.accordion-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

input#iField {
  font-size: smaller;
  font-style: italic;
}

.form-select {
  min-width: 10rem;
}

.required {
  color: red;
}

.dropdown#floating-button {
  z-index: 99999;
  position: fixed;
  top: calc(56px + 1rem);
  right: 1rem;
}

.offcanvas {
  z-index: 999999;
  margin-top: 56px;
  background-color: whitesmoke;
}

button {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-title {
  font-size: 1.2rem;
}

.card-subtitle {
  font-size: 1rem;
}

.modal#exampleModalToggle2 {
  max-height: 95%;
  margin-top: 40px;
}

// ------------------------------------------------
.switch-holder {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, .7),
    10px 10px 10px rgba(0, 0, 0, .3),
    inset 8px 8px 15px rgba(255, 255, 255, .7),
    inset 10px 10px 10px rgba(0, 0, 0, .3);
  justify-content: space-between;
  align-items: center;
}

.switch-label {
  width: 150px;
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle {
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255, 255, 255, .6),
    inset 10px 10px 10px rgba(0, 0, 0, .25);

}

.switch-toggle input[type="checkbox"]+label::before {
  position: absolute;
  content: 'OFF';
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
    3px 3px 5px rgba(0, 0, 0, .25);
  transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
  left: 50%;
  content: 'ON';
  color: #fff;
  background-color: #00b33c;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
    3px 3px 5px #00b33c;
}