<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid">
    <div class="get-schema">
      <form [formGroup]="getBlobSchemaForm" (ngSubmit)="onSubmitGetBlobSchemaForm()">
        <div class="card mb-3">
          <div class="card-header">
            Create VW
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-sm-4">
                <label for="container" class="form-label">Connection</label>
                <div class="input-group">
                  <select (change)="onSelectConnectionString($event)" formControlName="ConnectionStringId"
                    id="connnString" class="form-control form-control-sm shadow-none" aria-label="connstring">
                    <option value={{default_select}} selected>Select Connection...</option>
                    <option value="{{connectionString.connectionStringId}}"
                      *ngFor="let connectionString of connectionStrings">
                      {{connectionString.connectionName}}
                    </option>
                  </select>
                  <div class="input-group-text" *ngIf="connectionString_loading">
                    <div class="spinner-grow spinner-grow-sm text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <label for="container" class="form-label">Container</label>
                <div class="input-group">
                  <select (change)="onSelectFileSystem($event)" formControlName="FileSystem" id="container"
                    class="form-control form-control-sm shadow-none">
                    <option value={{default_select}} selected>Select Container...</option>
                    <option value="{{container.name}}" *ngFor="let container of containers">
                      {{container.name}}
                    </option>
                  </select>
                  <div class="input-group-text" *ngIf="GetFileSystems_loading">
                    <div class="spinner-grow spinner-grow-sm text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <label for="blob" class="form-label">File</label>
                <div class="input-group">
                  <select (change)="onSelectBlob($event)" formControlName="Path_Blob" id="blob"
                    class="form-control form-control-sm shadow-none">
                    <option value={{default_select}} selected>Select File...</option>
                    <option value="{{blob.name}}" *ngFor="let blob of blobs">
                      {{blob.name}}
                    </option>
                  </select>
                  <div class="input-group-text" *ngIf="GetBlobs_loading">
                    <div class="spinner-grow spinner-grow-sm text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="card-footer d-flex">
            <div class="me-auto"></div>
            <button type="submit" class="btn btn-primary btn-sm me-2 shadow-sm" [disabled]="!getBlobSchemaForm.valid">
              <div *ngIf="!GetBlobSchema_loading"><i class="fas fa-chevron-circle-down"></i> Get Schema</div>
              <div *ngIf="GetBlobSchema_loading" class="spinner-grow spinner-grow-sm text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
            <button type="reset" class="btn btn-warning btn-sm me-2 shadow-sm" (click)="ResetGetBlobDetailsForm()"><i
                class="fas fa-broom"></i> Reset</button>
            <button class="btn btn-sm btn-secondary" routerLink="../all-views"><i class="fas fa-arrow-left"></i>
              Back</button>
          </div>
        </div>
      </form>
    </div>

    <div class="create-view" *ngIf="blobSchema">
      <form [formGroup]="createVWForm" (ngSubmit)="onSubmitCreateViewForm()">
        <div class="card border-primary">

          <div class="card-header border-primary d-flex">
            <div class="p-2 flex-grow-1 bd-highlight">Schema</div>
            <div class="p-2 bd-highlight">
              <select (change)="onSelectSynapseFConnectionString($event)" formControlName="ConnectionStringId"
                id="connbbbString" class="form-control form-control-sm shadow-none" aria-label="connnnnstring">
                <option value={{default_select}} selected>Select Connection...</option>
                <option value="{{syn_connectionString.connectionStringId}}"
                  *ngFor="let syn_connectionString of syn_connectionStrings">
                  {{syn_connectionString.connectionName}}
                </option>
              </select>
            </div>
            <div class="p-2 bd-highlight">
              <input class="form-control form-control-sm" type="text" value="{{databaseName}}"
                aria-label=".form-control-sm example" disabled>
            </div>
            <div class="p-2 bd-highlight">
              <input type="text" placeholder="Table Name" formControlName="Name"
                class="form-control form-control-sm shadow-none" />
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-1">
                <label for="exampleFormControlInput1" class="form-label">Sl No.</label>
              </div>
              <div class="col-sm-3">
                <label for="exampleFormControlInput1" class="form-label">Column Name</label>
              </div>
              <div class="col-sm-3">
                <label for="exampleFormControlInput1" class="form-label">Alias</label>
              </div>
              <div class="col-sm-3">
                <label for="exampleFormControlInput1" class="form-label">Column Type</label>
              </div>
              <div class="col-sm-2">
                <label for="exampleFormControlInput1" class="form-label">Data Type</label>
              </div>
            </div>

            <div formArrayName="FieldArray" *ngFor="let FieldArray of FieldArrayControls.controls; let i = index">
              <div [formGroupName]="i">
                <div class="row mb-3">
                  <div class="col-sm-1">
                    {{i+1}}
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm shadow-none" placeholder="Column Name"
                      formControlName="ColumnName" readonly>
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm shadow-none" placeholder="Alias Name"
                      formControlName="AliasName">
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm shadow-none" placeholder="Column Type"
                      formControlName="ColumnType" readonly>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control form-control-sm shadow-none" placeholder="Data Type"
                      list="datalistOptions" id="exampleDataList" formControlName="DataType">
                    <datalist id="datalistOptions">
                      <option *ngFor="let dataType of dataTypes" [value]="dataType.dataType"></option>
                    </datalist>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer border-primary d-flex">
            <div class="me-auto"></div>
            <button type="submit" class="btn btn-primary btn-sm shadow-sm" [disabled]="!createVWForm.valid">
              <div *ngIf="!CreateView_loading"><i class="fas fa-code"></i> Create View</div>
              <div *ngIf="CreateView_loading" class="spinner-grow spinner-grow-sm text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
