body {
  background: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 56px);
}

#form_data .card .card-header {
  height: 43px;
}

.file_schema {
  background: rgb(217, 232, 255);
}

.table_schema {
  background: rgb(232, 252, 255);
}
